.cell {
    padding: 15px;
    display: flex;
}

.columns {
    position: relative;
    display: flex;
    align-items: stretch;
    flex-grow: 2;
    /*
    flex-basis: auto;
    */
    border: 1px solid white;
    padding: 5px;
    max-width: 960px;
    /*margin: 0 auto;*/
}

.cell:hover .columns, .cell.active .columns {
    border: 1px solid #ccc;
}

.grip {
  flex-direction: column;
  flex-grow: 0;
  display: flex;
}

.gripHandle {
  visibility: hidden;
  height: 100%;
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
  width: 2px;
  margin: 0px 5px;
}

.editor {
  flex-direction: column;
  flex-grow: 1;
  flex: 1 1 auto;
}

.actions {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
}

.actions button {
  display: inline-block;
  visibility: hidden;
}

.cell:hover .actions button, .cell.active .actions button {
  visibility: visible;
}


.result {
    margin-left: 30px;
    position: relative;
}

.result pre {
  padding: 0px;
  margin: 0px;
}

.image {
    width: 100%;
}

.buttonColor {
    color: rgb(100, 100, 100);
}

.addCell {
    visibility: hidden;
    display: block;
    position: absolute;
    left: 0px;
}

.addCellBefore {
  top: -1.5em;
}

.addCellAfter {
  bottom: -1.5em;
}

.cell:hover .addCell {
    visibility: visible;
}

.error {
    color: #c0392b;
}



.cell:hover .gripHandle, .cell.active .gripHandle {
  visibility: visible;
}

.active {
}

.mirror {
  /*transition: max-height 0.5s;*/
  overflow: hidden;
  z-index: 0;
}

.mirrorActive {
  max-height: 1000px;
}

.mirrorInactive {
  max-height: 0em;
}

.activate {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.activate:hover {
  background: rgba(0, 0, 0, 0.1);
}

.spacer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.result img {
  width: 100%;
}