.toggle {
    display: inline-block;
}

.pre {
    display: inline-block;
    font-size: 16px;
    padding-left: 5px;
}

.grid {
    font-family: monospace;
}

.grid > div > div {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.grid > div > div span {
    display: block;
    padding: 5px;
}

.label {
    background: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.rowLabel {
    text-align: right;
}

.label span {
}